.git
.github
.gitlab
references/
tests/
docs/
iac/
outputs/
logs/
*.md
!README.md
.venv
**/__pycache__/
**/*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
cdk.out
.pre-commit-config.yaml
